$primary-color: #f5cdc4;
$primary-color-lighter: #fee5df;
$color-pocho: #8E8EB5;
$color-pocho-secundary: #38385A;

$primary-color-lighter-100: #fffaf9;
$primary-color-lighter-200: #fff5f2;
$primary-color-lighter-300: #feefec;
$primary-color-lighter-400: #feeae5;
$primary-color-lighter-500: #fee5df;
$primary-color-lighter-600: #cbb7b2;
$primary-color-lighter-700: #988986;
$primary-color-lighter-800: #665c59;
$primary-color-lighter-900: #332e2d;

$secundary-color: #c87580;

$secundary-color-100: #f4e3e6;
$secundary-color-200: #e9c8cc;
$secundary-color-300: #deacb3;
$secundary-color-400: #d39199;
$secundary-color-500: #c87580;
$secundary-color-600: #a05e66;
$secundary-color-700: #78464d;
$secundary-color-800: #502f33;
$secundary-color-900: #28171a;

